<p style="color: green"><%= notice %></p>

<div class="card border-0 rounded-0 bg-light" style="max-width: 100%;">
  <div class="row g-0 d-flex justify-content-between">
    <div class="col-md-5">
      <img src="<%= @lore.image %>" class="img-fluid rounded mb-5">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h2 class="card-title"><%= @lore.title %></h2>
        <p class="card-text">
          <%= @lore.content %>
        </p>
 
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Edit this lore", edit_lore_path(@lore), class:'btn btn-warning' %> 
  <%= link_to "Back to lores", lore_path, class:'btn btn-primary' %>

  <%= button_to "Destroy this lore", @lore, method: :delete, class:'btn btn-danger mt-2 mb-5' %>
</div>
