<div id="<%= dom_id practitioner %>">
  <p>
    <strong>Name:</strong>
    <%= practitioner.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= practitioner.surname %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= practitioner.job %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= practitioner.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= practitioner.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= practitioner.city %>
  </p>

</div>
