<div id="<%= dom_id parasite %>">
  <p>
    <strong>Name:</strong>
    <%= parasite.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= parasite.description %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= parasite.capacity %>
  </p>

  <p>
    <strong>Pv:</strong>
    <%= parasite.pv %>
  </p>

  <p>
    <strong>Atk:</strong>
    <%= parasite.atk %>
  </p>

  <p>
    <strong>Def:</strong>
    <%= parasite.def %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= parasite.image %>
  </p>

</div>
