<p style="color: green"><%= notice %></p>

<div class="card bg-light border border-0 rounded-0 mb-5" style="max-width: 100%;">
  <div class="row g-0 d-flex justify-content-between">
<div class="col-md-5">
      <img src="<%= @parasite.image %>" class="img-fluid rounded ">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h3 class="card-title"><%= @parasite.name %></h5>
        <p class="card-text">
          <strong>Pv:</strong>
          <%= @parasite.pv %>
          <strong>Atk:</strong>
          <%= @parasite.atk %>
          <strong>Def:</strong>
          <%= @parasite.def %>
        </p>
        <h5 class="card-title">Description</h5>
        <p class="card-text"><%= @parasite.description %></p>
        <h5 class="card-title">Capacity</h5>
        <p class="card-text"><%= @parasite.capacity %></p>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Edit this parasite", edit_parasite_path(@parasite), class:'btn btn-warning' %> 
  <%= link_to "Back to parasites", parasites_path, class:'btn btn-primary' %>

  <%= button_to "Destroy this parasite", @parasite, method: :delete, class:'btn btn-danger mt-2' %>
</div>