<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= plant.capacity %>
  </p>

  <p>
    <strong>HP:</strong>
    <%= plant.pv %>
  </p>

  <p>
    <strong>Atk:</strong>
    <%= plant.atk %>
  </p>

  <p>
    <strong>Def:</strong>
    <%= plant.def %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= plant.image %>
  </p>

</div>
