<p style="color: green"><%= notice %></p>

<h1>Plants</h1>

<div id="plants" class="container d-flex flex-wrap">
    <% @plants.each do |plant| %>

    <div class="card rounded-4 border-0 shadow-sm p-3 mb-5 bg-body rounded me-2" style="width:300px">
  <img src="<%= plant.image %>" class="w-50 p-3 rounded-circle -object-fit-cover mx-auto img-fluid">
  <div class="card-body">
    <h5 class="card-title text-center"><%= plant.name %></h5>
    <p class="card-text text-center">
        <strong>Pv:</strong>
    <%= plant.pv %>
        <strong>Atk:</strong>
    <%= plant.atk %>
        <strong>Def:</strong>
    <%= plant.def %>
    </p>

    <div class="text-center"><%= link_to "Show this plant", plant, class:'btn btn-primary' %> </div>
  
  </div>

</div>
    
  <% end %>
</div>

<%= link_to "New plant", new_plant_path, class:'btn btn-success' %>
