<p style="color: green"><%= notice %></p>

<h2 class="mb-5">Plants</h2>

<div id="plants" class="container d-flex flex-wrap p-0">
    <% @plants.each do |plant| %>

    <%= link_to(plant, class:'link-dark text-decoration-none') do %>
        <div class="card shadow-sm mb-5 bg-body rounded-3 me-2 border border-success border-5 p-0" style="width:300px">
      <img src="<%= plant.image %>" class="w-100 p-0 -object-fit-cover mx-auto img-fluid">
      <div class="card-body">
        <h5 class="card-title text-center"><%= plant.name %></h5>
        <div class="h-2 w-50 p-1 bg-success rounded mt-4 mx-auto"></div>
        <div class="card-text mt-4 justify-content-around d-flex flex-row">
          <p>
            <strong>HP:</strong>
            <%= plant.pv %>
          </p>
          <p>
            <strong>Atk:</strong>
            <%= plant.atk %>
            <strong>Def:</strong>
            <%= plant.def %>
          </p>
        </div>
      </div>
    </div>
<% end %>
    
  <% end %>
</div>

<%= link_to "New plant", new_plant_path, class:'btn btn-success rounded-2' %>
