<p style="color: green"><%= notice %></p>

<h1>Plants</h1>

<div id="plants">
    <% @plants.each do |plant| %>

    <div class="card rounded-4" style="width: 18rem;">
  <img src="<%= plant.image %>" class="img-fluid ratio ratio-1x1 rounded-circle object-fit-cover" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= plant.name %></h5>
    <p class="card-text">
        <strong>Pv:</strong>
    <%= plant.pv %>
        <strong>Atk:</strong>
    <%= plant.atk %>
        <strong>Def:</strong>
    <%= plant.def %>
    </p>
<%= link_to "Show this plant", plant, class:'btn btn-primary' %>  </div>
</div>
    
  <% end %>
</div>

<%= link_to "New plant", new_plant_path, class:'btn btn-primary' %>
