<p style="color: green"><%= notice %></p>

<div class="card bg-light border border-0 rounded-0 mb-5" style="max-width: 100%;">
  <div class="row g-0 d-flex justify-content-between">
<div class="col-md-5">
      <img src="<%= @plant.image %>" class="img-fluid rounded ">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h3 class="card-title"><strong><%= @plant.name %></strong></h3>
        <p class="card-text">
          <strong>HP:</strong>
          <%= @plant.pv %>
          <strong>Atk:</strong>
          <%= @plant.atk %>
          <strong>Def:</strong>
          <%= @plant.def %>
        </p>
        <h4 class="card-title">Description :</h4>
        <p class="card-text"><%= @plant.description %></p>
        <h4 class="card-title">Capacity :</h4>
        <p class="card-text"><%= @plant.capacity %></p>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Edit this plant", edit_plant_path(@plant), class:'btn btn-warning' %> 
  <%= link_to "Back to plants", plants_path, class:'btn btn-primary' %>

  <%= button_to "Destroy this plant", @plant, method: :delete, class:'btn btn-danger mt-2 mb-5' %>
</div>
