<!DOCTYPE html>
<html>
  <head>
    <title>Terrarium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg ml-5 border-0 p-4 mb-5">
        <div class="container-fluid container">
          <a class="navbar-brand" href="#">
            <%= image_tag 'logo.svg', class:"mx-auto img-fluid me-5" %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 d-flex justify-content-end">
              <%= link_to "Voir les plantes", plants_path, class:'me-5 mb-2 text-decoration-none  text-black text-custom link-primary' %>
              <%= link_to "Voir les parasites", parasites_path, class:'me-5 mb-2 text-decoration-none text-black link-primary' %>
              <%= link_to "En apprendre plus sur ce monde", lores_path, class:'me-5 mb-2 text-decoration-none text-black link-primary' %>
            </div>
          </div>
        </div>
    </nav>
    <div class="container mb-5">
      <h3 class="w-100 text-left border-start border-5 border-success p-3"><em>Terrarium, 3043 </em>: les humains peinent à garder leur place dans ce monde. Des siècles de pollution, de destruction, ont changé et refaçonné la planète 
      Terre. La végétation a repris le dessus, a évolué, s'est transformée afin de survivre et, de cette évolution sont nés les Monstres-Plantes.<br>
      Venez découvrir Terrarium, un monde en ruines.
      </h3>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
